@font-face {
  font-family: 'esa';
  src: url('../assets/fonts/NotesESAbold.woff');
}

body {
  background: #24272B;
  padding: 0 !important;
  margin: 0 !important;
}

.navbar {
  font-family: 'esa';
  background: #083247;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  border: 2px solid #335e6f;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

}

.App-link {
  color: #61dafb;
}

.tsd {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.asteroids-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.nasa_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nasa_logo h2 {
  font-size: 30px;
}

.nasa_img {
  width: 100px;
  padding: 10px;
}

.coderanchel {
  font-size: 30px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  padding: 20px;
  font-family: 'esa';
}

.landing h1 {
  font-size: 60px;
  color: #ffffff;
}

.ticket {
  background: #ed2430;
  display: block;
  width: 170px;
}


@media (max-width: 600px) {
  .tsd {
    display: block;
  }

  .large_tsd {
    display: none;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
